Description: Downloads the latest version of Kustomize from Github (https://github.com/kubernetes-sigs/kustomize) and builds a package. Set ARCH to either arm64 or x86_64.
Identifier: com.github.kevinmcox.pkg.Kustomize
ParentRecipe: com.github.kevinmcox.download.Kustomize
MinimumVersion: 2.7.6

Input:
  NAME: Kustomize
  ARCH: arm64

Process:
  - Processor: Unarchiver
    Arguments:
      archive_path: "%pathname%"
      destination_path: "%RECIPE_CACHE_DIR%/unpack"
      purge_destination: true

  - Processor: PkgRootCreator
    Arguments:
      pkgroot: "%RECIPE_CACHE_DIR%/pkgroot"
      pkgdirs:
        usr/local/bin: "0755"

  - Processor: FileMover
    Arguments:
      source: "%RECIPE_CACHE_DIR%/unpack/kustomize"
      target: "%RECIPE_CACHE_DIR%/pkgroot/usr/local/bin/kustomize"

  - Processor: PkgCreator
    Arguments:
      pkg_request:
        pkgname: "%NAME%-%ARCH%-%version%"
        pkgdir: "%RECIPE_CACHE_DIR%"
        pkgroot: "%RECIPE_CACHE_DIR%/pkgroot"
        id: io.kubernetes.kustomize
        version: "%version%"
        chown:
          - path: "/usr/local/bin/kustomize"
            user: root
            group: wheel
            mode: "0755"

  - Processor: PathDeleter
    Arguments:
      path_list:
        - "%RECIPE_CACHE_DIR%/unpack"
